@mixin text($fontSize, $fontWeight, $lineHeight, $color) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $color;
}

@mixin wh-px($width: $width, $height: $width) {
  width: #{$width}px;
  height: #{$height}px;
}
