@import './../variables/_mixins';

.certificates {
  &__wrapper_left {
    max-width: 496px;
    width: 100%;
    @media all and (max-width: 1100px) {
      max-width: 700px;
    }
  }
  &__title {
    text-align: left;
    color: #ffffff;
    margin-bottom: 20px;
  }
  &__wrapper {
    background: #55B2F3;
    border-radius: 42px;
    display: flex;
    justify-content: space-between;
    margin-top: 227px;
    @media all and (max-width: 1100px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  &__block__wrap {
    display: flex;
    align-items: center;
  }
  &__text {
    @include text(18px, 400, 25px, #ffffff);
    margin-bottom: 29px;

  }
  &__btn {
    max-width: 309px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 42px;
    color: #121212;
    width: 100%;
  }
  &__wrapper_left {
    padding: 56px 20px 54px 94px;
    @media all and (max-width: 1100px) {
      padding: 20px 20px 51px;
    }
  }
  &__wrapper_right {
    padding: 45px;
    @media all and (max-width: 1100px) {
      padding: 20px;
    }
    @media all and (max-width: 700px) {
      padding: 20px 20px 0;
    }
  }
}