@import './../variables/_mixins';

.footer {
  background: #262A66;
  margin-top: 85px;
  &__wrapper {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 22px 0 45px;
    @media all and (max-width: 900px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    @media all and (max-width: 600px) {
      flex-direction: column-reverse;
      align-items: flex-start;
      padding: 22px 35px 45px;
    }
  }
  &__link {
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 5px;
  }
  &__list_center {
    text-align: center;
    padding-top: 36px;
    @media all and (max-width: 600px) {
      text-align: left;
    }
  }
  &__list_right {
    text-align: right;
    padding-top: 32px;
    @media all and (max-width: 900px) {
      text-align: center;
    }
    @media all and (max-width: 600px) {
      text-align: left;
    }
  }
  &__item {
    margin-top: 5px;
  }
  &__item:nth-child(3) {
    margin-top: 10px;
  }
  &__wrap {
    @media all and (max-width: 1300px) {
      padding: 10px;
    }
  }
  &__text {
    margin-bottom: 5px;
  }
}
