@import './../variables/_mixins';

.main {
  &__image {
    overflow: hidden;
  }
  &__img {
    max-width: 740px;
    width: 100%;
    position: relative;
    left: 112px;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: center;
    
  }
  &__wrapper{
    padding-top: 60px;
    background: url(./../images/bacg.svg) no-repeat center;
    background-position: left bottom; /* Положение фона */
    background-repeat: no-repeat;
  }
  &__block {
    display: flex;
    justify-content: center;
  }
  &__button{
    @include text(15px, 900, 20px, #ffff);
    width: 206px;
    height: 50px;
    padding-left: 22px;
    position: relative;
  }
  &__button::before {
    content: "";
    position: absolute;
    background: url(./../images/drop.svg) no-repeat center;
    width: 40px;
    height: 40px;
    top: 4px;
    left: 4px;
  }
  &__title_small {
    @include text(16px, 900, 22px, #F1A039);
  }
  &__title_big{
    @include text(42px, 800, 57px, #2D3074);
  }
  &__title_small-blue{
    @include text(24px, 800, 33px, #2D3074);
  }
  &__title_orange{
    @include text(42px, 700, 49px, #F1A039);
    font-family: 'Roboto';
  }
}