@import './../variables/_mixins';

.main {
  &__image {
    overflow: hidden;
    @media all and (max-width: 880px) {
      overflow: inherit;
    }
  }
  &__img {
    max-width: 740px;
    width: 100%;
    position: relative;
    left: 112px;
    @media all and (max-width: 980px) {
      left: 30px;
    }
    @media all and (max-width: 880px) {
      left: 0;
      top: 33px;
    }
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: center;
    @media all and (max-width: 880px) {
      align-items: center;
    }
    
  }
  &__wrapper{
    margin-top: 60px;
    background-image: url(./../images/bacg.svg);
    background-repeat: no-repeat;
    background-size: 50% 100%;
    @media all and (max-width: 880px) {
      background-image: url(./../images/backg-adaptive.svg);
      background-size: 100% 60%;
      background-position: bottom;
      margin-top: -60px;
    }
  }
  &__block {
    display: flex;
    justify-content: center;
    @media all and (max-width: 880px) {
      justify-content: center;
      flex-direction: column-reverse;
      align-items: center;
      display: flex;
    }
  }
  &__button{
    @include text(15px, 900, 20px, #ffff);
    width: 206px;
    height: 50px;
    padding-left: 22px;
    position: relative;
    @media all and (max-width: 880px) {
      margin-bottom: 61px;
    }
  }
  &__button::before {
    content: "";
    position: absolute;
    background: url(./../images/drop.svg) no-repeat center;
    width: 40px;
    height: 40px;
    top: 4px;
    left: 4px;
  }
  &__title {
    @media all and (max-width: 880px) {
      text-align: center;
    }
  }
  &__title_small {
    @include text(16px, 900, 22px, #F1A039);
    @media all and (max-width: 620px) {
      @include text(16px, 700, 22px, #F1A039);
    }
  }
  &__title_big{
    @include text(42px, 800, 57px, #2D3074);
    @media all and (max-width: 620px) {
      @include text(22px, 900, 30px, #2D3074);
    }
  }
  &__title_small-blue{
    @include text(24px, 800, 33px, #2D3074);
    @media all and (max-width: 620px) {
      @include text(22px, 900, 30px, #2D3074);
    }
  }
  &__title_orange{
    @include text(42px, 700, 49px, #F1A039);
    font-family: 'Roboto';
    @media all and (max-width: 620px) {
      @include text(36px, 800, 40px, #F1A039);
    }
  }
}