@import "./../variables/_mixins";
//====================================================================================================
.header {
  // .header__container
  &__container {
    padding: 40px 80px;
    @media (max-width: 1200px) {
      padding: 20px 40px;
    }
    @media (max-width: 1000px) {
      padding: 20px 30px;
    }
    @media (max-width: 991.98px) {
      padding: 0;
    }
  }
}
.menu-open .nav {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
.nav {
  display: flex;
  justify-content: space-between;

  align-items: center;
  gap: 80px;
  @media (max-width: 1440px) {
    gap: 40px;
  }
  @media (max-width: 1200px) {
    gap: 15px;
  }
  @media (max-width: 991.98px) {
    padding: 40px 0 60px;
    max-width: initial;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    height: 100%;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #ffffff;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    z-index: 10;
    top: 42px;
  }
  // .nav__list
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex: 1 1 auto;
    @media (max-width: 1200px) {
      justify-content: space-around;
    }
    @media (max-width: 991.98px) {
      flex-direction: column;
      max-height: 500px;
      padding: 30px;
      gap: 40px;
    }
  }
  // .nav__item-wrap
  &__item-wrap {
    display: flex;
    flex-direction: column;
    @media (max-width: 767.98px) {
      align-items: center;
    }
  }
  // .nav__link
  &__link {
    @include text(15px, 500, 18px, #272674);
    font-family: "Roboto";
    @media all and (max-width: 980px) {
      @include text(24px, 500, 18px, #272674);
    }
  }
  &__link:hover {
    opacity: 0.9;
  }
  // .nav__contacts
  &__contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    @media (max-width: 1200px) {
      gap: 15px;
    }
    @media (max-width: 991px) {
      flex-direction: column;
      gap: 30px;
    }
  }
  // .nav__wrap-tel
  &__wrap-tel {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  // .nav__icon-tel
  &__icon-tel {
  }
  // .nav__phone
  &__phone {
    @include text(16px, 900, 22px, #272674);
    text-decoration: none;
    @media all and (max-width: 1060px) {
      @include text(14px, 900, 20px, #272674);
    }
  }
  // .nav__span
  &__span {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #121212;
  }
  // .nav__button
  &__button {
    background: #262a66;
    width: 179px;
    height: 40px;
    @include text(16px, 700, 22px, #ffffff);
  }
  // .nav__mobile
  &__mobile {
    display: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 11;
    width: 100vw;
    position: fixed;
    padding: 15px;
    left: 0;
    top: 0;
    &__logo {
      position: relative;
      z-index: 12;
    }
    @media (max-width: 991.98px) {
      display: flex;
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 10;
        left: 0;
      }
    }
  }
}
.logos {
  @media (max-width: 991.98px) {
    display: none;
  }
}

//====================================================================================================
//Burger

.icon-menu {
  display: block;
  position: relative;
  width: 34px;
  height: 22px;

  cursor: pointer;
  z-index: 12;
  span,
  &::before,
  &::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #2d3074;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  span {
    top: calc(50% - 1.5px);
  }
  .menu-open & {
    span {
      width: 0;
    }
    &::before,
    &::after {
    }
    &::before {
      top: calc(50% - 2px);
      transform: rotate(-45deg);
    }
    &::after {
      bottom: calc(50% - 1px);
      transform: rotate(45deg);
    }
  }
}
