@import './../variables/_mixins';

.request {
  &__text {
    text-align: center;
    @include text(18px, 400, 22px, #FFFFFF);
  }
  &__wrap {
    max-width: 400px;
    width: 100%;
  }
  &__title {
    padding-top: 140px;
    color: #FFFFFF;
    @media all and (max-width: 950px) {
      padding-top: 81px;
      color: #24265B;
    }
  }
  &__input {
    border: 1.5px solid #FFFFFF;
border-radius: 42px;
max-width: 296px;
width: 100%;
height: 50px;
background: #2271C5;
color: #FFFFFF;
text-align: center;
margin-right: 10px;
@media all and (max-width: 950px) {
  background: rgba(255, 255, 255, 0.7);
border: 0.912046px solid #272674;
box-shadow: 0px 1.82409px 1.82409px 1.82409px rgba(204, 204, 204, 0.1);
border-radius: 38.3059px;
margin: 10px;
max-width: 360px;
}
  }
 &__form__text {
  color: #FFFFFF;
  @include text(15px, 400, 14px, #FFFFFF);
 }
  &__form_second,
  &__form_second-mobile {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 32px;
    @media all and (max-width: 950px) {
      padding: 9px 0 19px;
      max-width: 300px;
      width: 100%;
      }
  }
  &__btn{
    max-width: 250px;
    width: 100%;
    height: 50px;
    background: #F1A039;
    padding-left: 22px;
    position: relative;
    @media all and (max-width: 950px) {
    max-width: 360px;
    background: #272674;
    }
  }
  &__form__text-mobile {
    @include text(12px, 400, 16px, #272674);
  }
  
  &__btn::before {
    content: "";
    position: absolute;
    background: url(./../images/dropOrange.svg) no-repeat center;
    width: 40px;
    height: 40px;
    top: 4px;
    left: 4px;
    @media all and (max-width: 950px) {
      background: url(./../images/drop.svg) no-repeat center;
      }
  }
  &__forms-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__form_first,
  &__form-mobile {
    max-width: 916px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 36px;
    @media all and (max-width: 950px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__forms_descktop,
  .descktop {
    display: block;
    @media all and (max-width: 950px) {
      display: none;
    }
  }
  &__form-mobile,
  .mobile {
    display: none;
    @media all and (max-width: 950px) {
      display: flex;
    }
  }
  
  &__radioButton,
  &__radioButton-mobile {
    margin-right: 14px;
  }
}
input::placeholder {
  opacity: 0.5;
  @include text(16px, 400, 22px, #FFFFFF);
  font-family: 'Nunito Sans';
  @media all and (max-width: 950px) {
    color: #C4C4C4;
  }
}

.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__wrap {
    display: flex;
  }
  &__BTNtext:first-child {
     margin-right: 20px;
     position: relative;
  }
  &__BTNtext:first-child::after {
    content: "/";
    position: absolute;
    width: 2px;
    height: 10px;
    top: 2px;
    right: -10px;
  }
  &__BTNtext {
    @include text(18px, 700, 24px, #8E98A8);
    background: inherit;
    cursor: pointer;
    margin-top: 10px;
    
 }
 &__BTNtext:hover {
  @include text(18px, 700, 24px, #272674);
}
}
.request__form_second {
  display: flex;
}
.mobile__wrap {
  font-family: 'Nunito Sans';
}

.wave_background {
  background-image: url(./../images/wave.svg);
  background-repeat: no-repeat;
    
  background-size: 100% 100%;
  background-size: 1440px 100%;
  background-position-x: center;
  @media all and (min-width: 1441px) {
    background-size: 100% 100%;
  }
    @media all and (max-width: 950px) {
      background-image: none;
     
    }
    
}
.wave__background_second {
  background-image: url(./../images/wave.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: 1440px 100%;
  background-position-x: center;
  @media all and (min-width: 1441px) {
    background-size: 100% 100%;
  }
  @media all and (max-width: 950px) {
    background-image: url(./../images/long-waves.svg);
    background-size: 100% 100%;
    
  }
  
    
}