@import "./../variables/_mixins";

.request {
  &__text {
    text-align: center;
    @include text(18px, 400, 22px, #ffffff);
  }
  &__wrap {
    max-width: 400px;
    width: 100%;
  }
  &__title {
    padding-top: 140px;
    color: #ffffff;
    @media all and (max-width: 950px) {
      padding-top: 81px;
      color: #24265b;
    }
  }
  &__input {
    font-family: "Nunito Sans";
    padding: 10px;
    @include text(16px, 400, 22px, #ffffff);
    border: 1.5px solid #ffffff;
    border-radius: 42px;
    max-width: 296px;
    width: 100%;
    height: 50px;
    background: #2271c5;
    color: #ffffff;
    text-align: center;
    margin-right: 10px;
    @media all and (max-width: 950px) {
      background: rgba(255, 255, 255, 0.7);
      border: 0.912046px solid #272674;
      box-shadow: 0px 1.82409px 1.82409px 1.82409px rgba(204, 204, 204, 0.1);
      border-radius: 38.3059px;
      margin: 10px;
      max-width: 360px;
    }
  }
  &__form__text {
    color: #ffffff;
    @include text(15px, 400, 14px, #ffffff);
  }
  &__form_second,
  &__form_second-mobile {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 32px;
    @media all and (max-width: 950px) {
      padding: 9px 0 19px;
      max-width: 300px;
      width: 100%;
    }
  }
  &__btn {
    max-width: 250px;
    width: 100%;
    height: 50px;
    background: #f1a039;
    padding-left: 22px;
    position: relative;
    &:hover::before {
      background: url(./../images/dropHover1.svg) no-repeat center;
    }
    &:hover {
      background: #272674;
    }
    @media all and (max-width: 950px) {
      max-width: 360px;
      background: #272674;
      &:hover::before {
        background: url(./../images/dropHover2.svg) no-repeat center;
      }
      &:hover {
        background: #f1a039;
      }
    }
  }
  &__form__text-mobile {
    @include text(12px, 400, 16px, #272674);
  }

  &__btn::before {
    content: "";
    position: absolute;
    background: url(./../images/dropOrange.svg) no-repeat center;
    width: 40px;
    height: 40px;
    top: 4px;
    left: 4px;
    @media all and (max-width: 950px) {
      background: url(./../images/drop.svg) no-repeat center;
    }
  }
  &__forms-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form_first,
  &__form-mobile {
    max-width: 916px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 36px;
    @media all and (max-width: 950px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__forms_descktop,
  .descktop {
    display: block;
    @media all and (max-width: 950px) {
      display: none;
    }
  }
  &__form-mobile {
    display: none;
  }
  &__form-mobile.active {
    @media all and (max-width: 950px) {
      display: flex;
    }
  }

  .mobile {
    display: none;
    @media all and (max-width: 950px) {
      display: flex;
    }
  }

  &__radioButton,
  &__radioButton-mobile {
    margin-right: 14px;
  }
}
input::placeholder {
  opacity: 0.5;
  @include text(16px, 400, 22px, #ffffff);
  font-family: "Nunito Sans";
  @media all and (max-width: 950px) {
    color: #c4c4c4;
  }
}

.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__wrap {
    display: flex;
  }
  &__BTNtext:first-child {
    margin-right: 20px;
    position: relative;
  }
  &__BTNtext:first-child::after {
    content: "/";
    position: absolute;
    width: 2px;
    height: 10px;
    top: 2px;
    right: -10px;
  }
  &__BTNtext {
    @include text(18px, 700, 24px, #8e98a8);
    background: inherit;
    cursor: pointer;
    margin-top: 10px;
  }
  &__BTNtext:hover {
    @include text(18px, 700, 24px, #272674);
  }
}
.request__form_second {
  display: flex;
}
.mobile__wrap {
  font-family: "Nunito Sans";
}

@media all and (-webkit-min-device-pixel-ratio: 0) {
  /*Всё, что вы сюда напишете, будет работать только с -webkit-*/
  .wave_background {
    background-image: url(./../images/wave.svg);
    background-repeat: no-repeat;

    background-size: 100% 100%;
    background-size: 1440px 100%;
    background-position-x: center;
    @media all and (min-width: 1441px) {
      background-size: 100% 100%;
    }
    @media all and (max-width: 950px) {
      background-image: none;
    }
  }
  .wave_background {
    background-image: url(./../images/wave.svg);
    background-repeat: no-repeat;

    background-size: 100% 100%;
    background-size: 1440px 100%;
    background-position-x: center;
    @media all and (min-width: 1441px) {
      background-size: 100% 100%;
    }
    @media all and (max-width: 950px) {
      background-image: none;
    }
  }
  .wave__background_second {
    background-image: url(./../images/wave.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // background-size: 1440px 100%;
    background-position-x: center;
    @media all and (min-width: 1441px) {
      background-size: 100% 100%;
    }
    @media all and (max-width: 950px) {
      background-image: url(./../images/long-waves.svg);
      background-size: 100% 100%;
    }
  }
}

.wave_background {
  background-image: url(./../images/wave.svg);
  background-repeat: no-repeat;

  background-size: 100% 100%;
  background-size: 1440px 100%;
  background-position-x: center;
  @media all and (min-width: 1441px) {
    background-size: 100% 100%;
  }
  @media all and (max-width: 950px) {
    background-image: none;
  }
}
.wave_background {
  background-image: url(./../images/11111.png);
  background-repeat: no-repeat;
  // background-size: cover;
  background-size: 100% 100%;
  // background-size: 1440px 100%;
  background-position-x: center;
  @media all and (min-width: 1441px) {
    // background-size: 100% 100%;
  }
  @media all and (max-width: 950px) {
    background-image: none;
  }
}
.wave__background_second {
  background-image: url(./../images/11111.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // background-size: cover;
  background-size: 1440px 100%;
  background-position-x: center;
  background-position-y: center;
  @media all and (min-width: 1441px) {
    background-size: 100% 100%;
    // background-size: cover;
  }
  @media all and (max-width: 950px) {
    background-image: url(./../images/long-waves.svg);
    background-size: 100% 100%;
    // background-size: cover;
  }
}
.wave__background_second-img {
  object-fit: contain;
  z-index: -1;
  display: none;
  box-sizing: border-box;
  width: 100%;
  max-width: 1400%;
}
